In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [ ]:
import yfinance as yf

msft = yf.Ticker("AAPL")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="1y")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-22 00:00:00-05:00,160.747046,164.743854,160.070977,160.090866,117467900,0.0,0
2021-11-23 00:00:00-05:00,160.190287,160.866371,158.142177,160.478622,96041900,0.0,0
2021-11-24 00:00:00-05:00,159.822434,161.204412,158.718838,161.005569,69463600,0.0,0
2021-11-26 00:00:00-05:00,158.649250,159.524162,155.457766,155.905167,76959800,0.0,0
2021-11-29 00:00:00-05:00,158.450379,160.259884,157.873723,159.315369,88748200,0.0,0
...,...,...,...,...,...,...,...
2022-11-15 00:00:00-05:00,152.220001,153.589996,148.559998,150.039993,89868300,0.0,0
2022-11-16 00:00:00-05:00,149.130005,149.869995,147.289993,148.789993,64218300,0.0,0
2022-11-17 00:00:00-05:00,146.429993,151.479996,146.149994,150.720001,80389400,0.0,0
2022-11-18 00:00:00-05:00,152.309998,152.699997,149.970001,151.289993,74794600,0.0,0
2022-11-21 00:00:00-05:00,150.160004,150.320007,147.714996,148.009995,58724070,0.0,0

In [ ]:
#hist[["Close", "Volume"]]
V0 = hist["Volume"].mean()

In [ ]:
amt = list(hist[["Volume"]].iloc[:, 0])

In [ ]:
data = hist[["Close", "Volume"]]

In [ ]:
data.head()

                                Close     Volume
Date
2021-11-22 00:00:00-05:00  160.090866  117467900
2021-11-23 00:00:00-05:00  160.478622   96041900
2021-11-24 00:00:00-05:00  161.005569   69463600
2021-11-26 00:00:00-05:00  155.905167   76959800
2021-11-29 00:00:00-05:00  159.315369   88748200

In [ ]:
data["Volume"].sum()

23047368370

In [ ]:
data.shape

(252, 2)

In [ ]:
print(data.iloc[0, 1])
print(data.iloc[-1, 1])
print(data.iloc[data.shape[0]-1, 1])
s_sum = 0
for i in range(0, data.shape[0]-1):
  s_sum = s_sum + data.iloc[i, 1]
print(s_sum)

117467900
58724070
58724070
22988644300

In [ ]:
#for i in range(0, data.shape[0]):
 # print( int(data.iloc[j, 0]), int(data.iloc[j, 1]))
#if(s_sum < V0):
print(data.iloc[251, 0]- data.iloc[0, 0])

-12.08087158203125

In [ ]:
#s_diff = 0
if(s_sum<V0):
  s_diff.append(251 - s_sum)
  s_date.append([n,j])
    
dp = max(s_diff)

In [ ]:
V0 = 10000
s_diff = [] , s_data = []
n=251
for j in range(1, 251+1):
    v_sum = n        #Vk+Vk+1+......+Vn
    if(v_sum<V0):
      s_diff.append(s_sum - Sj)
      s_date.append([n,j])
    
    dpn = max(s_diff) 
    ddn = [Daten,Datej]

ValueError: ignored

In [ ]:
V0 = 10000
s_diff = [251, 0]
s_date = ["Date"]
n=251
for j in range(1, 251+1):
    v_sum = n        #Vk+Vk+1+......+Vn
    if(v_sum<V0):
      s_diff.append(251 - s_sum)
      s_date.append([n,j])
    
    dpn = max(s_diff) 
    ddn = [Daten,Datej]

NameError: ignored

![Screen Shot 2022-11-9 at 下午 06.51.png]()

In [ ]:
from pandas.core.indexes.extension import deprecate_ndim_indexing
import pandas as pd
import numpy as np

#設定一個空的k及dp, 初值皆為NaN
k = np.empty(len(hist))
dp = np.empty(len(hist))

k[:] = np.nan
dp[:] = np.nan

#將Volumn存在volume中
volume = list(hist[["Volume"]].iloc[:, 0])

#================================
#任意設定一個V0值
#================================
V0 =      np.mean(volume)

#找出每個索引值的k
for i in range(0, len(hist)):
    t=np.nan
    for j in range(i+1):
        if sum(volume[j:i]) < V0:
            t=j 
            break
    k[i]=t 

#找出每個索引值的dp
for i in range(0, len(hist)):
    t=[]
    for j in range(int(k[i]), i):
        t.append(volume[i]-volume[j])
  
    if len(t)==0:
        dp[i] = np.nan
    else:
        dp[i] = max(t)

#印dp
dp

array([       nan,        nan,        nan,        nan,   7496200.,
        11788400.,  85299900.,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,    949400.,        nan,   6563000.,
         4224700., -16795400.,  -2575900.,   4289300.,  40425600.,
              nan,        nan,        nan,        nan,  20056500.,
              nan,  -1333100.,   9700600.,  -4065000.,  10515900.,
         3858300.,        nan,  31428400.,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
        -1299600.,   4503800.,  -6952700.,  -5214200.,  -2422000.,
        -3544200.,  19580900.,   7804800.,        nan, -23658100.,
        -1350000.,   8411900.,  13183400.,   8390100.,  -1153600.,
        51138300.,        nan,        nan,        nan,  -3749600.,
        -3046400.,   7058800.,  12681600.,        nan,        nan,
        13887100.,        nan,        nan,        nan,        nan,
              nan,  47896300.,        nan,        nan,  16530700.,
              nan,  -9585200.,   9825700.,  10217500.,        nan,
              nan,        nan,  -2282900.,  -3066600.,  15657000.,
       -11464100.,  -1019200.,  -4328800.,   7018500.,  -8646300.,
         4710500.,  -6305500.,  -1300100.,    206000.,  19298000.,
        -2345400.,  11164000.,        nan,        nan,  42153600.,
              nan,        nan,        nan,  19290000.,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,  -8307500.,  31406600.,        nan,
              nan,        nan,        nan,        nan,        nan,
          377000.,  12739900.,        nan,  -1938500.,  16222200.,
       -16971900.,  -3790200., -13858000.,  15522800.,  21964900.,
        30769200.,        nan,   6748700.,  16590900.,        nan,
              nan,  -7591300.,   -975400.,  16683000., -18908900.,
        -3124500.,   -841000.,  32722100.,        nan,   2302200.,
          710500.,  -7810600.,  -1705900.,  -1406200.,  14447200.,
        -6403200.,   6955100.,  -1880800.,   5161000.,   1561500.,
       -18159000.,    263200.,   1588800., -13051500.,   1514800.,
        23482000.,   2758000.,  20408200.,        nan,  -7922400.,
        22600500., -27033400.,   1222900.,   3579900.,   2858600.,
         7035000., -13021300.,  10890200., -13947700.,   2285400.,
        23164900., -17251900.,   8056200.,  -1319500., -14879700.,
         -305600.,  -2623300.,  27742800.,  -5647000.,   4592200.,
        10084900., -13761200.,   2727900.,  -3243000.,  13734800.,
        -2525800., -16895000.,  36927200.,        nan,        nan,
         2515700.,  71797700.,        nan,  26215600.,        nan,
              nan,   9377400.,        nan,        nan,  62248700.,
              nan,        nan,        nan,        nan,  -8359100.,
       -11068800.,  17523400., -11026600.,   2134700.,  -6600000.,
        42790300.,        nan,  -3347100.,  13885700.,        nan,
         2763700.,  22026600., -10566700.,  -1249600.,  13462000.,
        20985900.,        nan,        nan,        nan,  13225300.,
              nan,        nan,        nan,   6533900., -14990700.,
        43936200.,        nan,        nan,  16494200., -25650000.,
        16171100.,  -5594800.])

![Screen Shot 2022-11-9 at 下午 06.53.png]()

In [ ]:
#將dp(list)轉成df_dp(DataFrame)
df_dp = pd.DataFrame(dp)

#平均數/標準誤
m = float(df_dp.mean())
se = float(df_dp.std() / len(hist)**0.5)

#推論x值(假設a=0.05)
print(m-1.96*se)

4001101.497154227